Source: node-rollup-plugin-commonjs
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Julien Puydt <jpuydt@debian.org>
Section: javascript
Testsuite: autopkgtest-pkg-nodejs
Priority: optional
Build-Depends: debhelper-compat (= 13)
 , dh-sequence-nodejs
 , node-commondir <!nocheck>
 , node-estree-walker <!nocheck>
 , node-glob <!nocheck>
 , node-is-reference <!nocheck>
 , node-locate-character <!nocheck>
 , node-magic-string <!nocheck>
 , node-resolve <!nocheck>
 , node-rollup-plugin-json
 , node-rollup-plugin-node-resolve <!nocheck>
 , node-rollup-plugin-typescript
 , node-rollup-pluginutils (>= 3.1.0)
 , node-source-map <!nocheck>
 , node-tape <!nocheck>
 , rollup (>= 2.68~)
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/js-team/node-rollup-plugin-commonjs
Vcs-Git: https://salsa.debian.org/js-team/node-rollup-plugin-commonjs.git
Homepage: https://github.com/rollup/plugins
Rules-Requires-Root: no

Package: node-rollup-plugin-commonjs
Architecture: all
Depends: ${misc:Depends}
 , node-commondir
 , node-estree-walker
 , node-glob
 , node-is-reference
 , node-magic-string (>= 0.25.7)
 , node-resolve (>= 1.17.0)
 , node-rollup-pluginutils (>= 3.1.0)
Recommends: rollup (>= 2.68~)
Enhances: rollup
Breaks: rollup (<< 0.68.2+ds~)
Description: Node.js plugin for rollup to convert CommonJS modules to ES6
 This plugin for rollup will convert modules written in CommonJS to ES6 so they
 can be included in a Rollup bundle.
 .
 Node.js is an event-based server-side JavaScript engine.
